$font_poppins: 'Montserrat', sans-serif;
$font_Montserrat: 'Poppins', sans-serif;
$color_red:#F38160;
$color_black:#403C39;
$color_gray:#949494;
@mixin button{
    padding: 12px 29px;
    background-color: $color_red;
    border-radius: 13px;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    font-family: $font_poppins;
    padding-left: 84px;
    padding-right: 84px;
    background: url(../img/delivery-concept-handsome-african-american-deliver-AZUZTZ3\ 1.png) no-repeat right 37% bottom 92%,url(../img/rectangle.png) no-repeat right 34% bottom 45%,url(../img/rectangle2.png) no-repeat right 42% bottom 67%;
    max-width: 1440px;
    background-size: 750px,300px,344px;
    overflow: hidden;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:24px ;
        .nav__list{
            display: flex;
            list-style: none;
            gap: 40px;
            &-item{
                display: flex;
                align-items: center;
                .nav__link{
                    color:$color_gray;
                    font-weight: 400;
                    text-decoration: none;
                }

            }
            &-item a{
                &.active,&:hover{
                    position: relative;
                    color: $color_red;
                    &::after{
                        content: "";
                        position: absolute;
                        display: inline-block;
                        background-color: $color_red;
                        width: 80%;
                        height: 4px;
                        bottom: -10px;
                        left: 10%;
                        border-radius: 16px;
                    }
                }
                
            }
        }
        .header__div{
            display: flex;
            align-items: center;
            gap: 45px;
            .list{
                display: flex;
                list-style: none;
                gap: 30px;
                align-items: center;
                &__item a{
                    color:$color_red;
                }
                .button>a{
                    color:white;
                    text-decoration: none;
                    display: block;
                    @include button;
                    text-align: center;
                }
            }
        }
        .header__img{
            position: relative;
            &::after {
                content: "";
                position: absolute;
                display:inline-block;
                background-color:$color_red;
                width: 7px;
                height: 7px;
                border-radius: 50%;
            }
        }
        
        
}

.main{
    display: flex;
    flex-direction: column;
    margin-top: 69px;
    gap:10px;
    &__title{
        font-family: $font_Montserrat;
        font-size: 55px;
        width: 500px;
        font-weight: 700;
        line-height: 70px;
        margin: 0;
    }
    &__title span{
        color: $color_red;
    }
    &__description{
        color:$color_gray;
        font-size: 18px;
        width: 470px;
        line-height: 30px;
    }
    &__form{
        display: flex;
        .form__input{
            padding: 10px;
            width: 350px;
            border-radius: 5px;
            background-color: #D0D0D240;
            border: 0;
        }
        .form__button{
            width: 50px;
            background: url(../img/Search.png) $color_red no-repeat center;
            background-size: 20px;
            border-radius: 5px;
            border: 0;
        }
    }
    &__grid{
        display: grid;
        grid-template-columns: 20% 20%;
        margin-top: 20px;
        color:$color_gray;
        .grid__item{
            padding-left: 20px;
            background: url(../img/Check.jpg) no-repeat left center;
            background-size: 15px;
        }
    }
    .product-section{
        display: flex;
        margin-top: 40px;
        margin-top: 89px;
        margin-bottom: 30px;
        align-items: center;
        gap:20px;
        .product{
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 10px;
            &__name{
                font-size: 18px;
                font-weight: 500;
                color:$color_black;
            }
            &__description{
                font-size: 14px;
                color:$color_gray;
            }
        }
    }

}