* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  font-family: "Montserrat", sans-serif;
  padding-left: 84px;
  padding-right: 84px;
  background: url(../img/delivery-concept-handsome-african-american-deliver-AZUZTZ3\ 1.png) no-repeat right 37% bottom 92%, url(../img/rectangle.png) no-repeat right 34% bottom 45%, url(../img/rectangle2.png) no-repeat right 42% bottom 67%;
  max-width: 1440px;
  background-size: 750px, 300px, 344px;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}
header .nav__list {
  display: flex;
  list-style: none;
  gap: 40px;
}
header .nav__list-item {
  display: flex;
  align-items: center;
}
header .nav__list-item .nav__link {
  color: #949494;
  font-weight: 400;
  text-decoration: none;
}
header .nav__list-item a.active, header .nav__list-item a:hover {
  position: relative;
  color: #F38160;
}
header .nav__list-item a.active::after, header .nav__list-item a:hover::after {
  content: "";
  position: absolute;
  display: inline-block;
  background-color: #F38160;
  width: 80%;
  height: 4px;
  bottom: -10px;
  left: 10%;
  border-radius: 16px;
}
header .header__div {
  display: flex;
  align-items: center;
  gap: 45px;
}
header .header__div .list {
  display: flex;
  list-style: none;
  gap: 30px;
  align-items: center;
}
header .header__div .list__item a {
  color: #F38160;
}
header .header__div .list .button > a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 12px 29px;
  background-color: #F38160;
  border-radius: 13px;
  text-align: center;
}
header .header__img {
  position: relative;
}
header .header__img::after {
  content: "";
  position: absolute;
  display: inline-block;
  background-color: #F38160;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}

.main {
  display: flex;
  flex-direction: column;
  margin-top: 69px;
  gap: 10px;
}
.main__title {
  font-family: "Poppins", sans-serif;
  font-size: 55px;
  width: 500px;
  font-weight: 700;
  line-height: 70px;
  margin: 0;
}
.main__title span {
  color: #F38160;
}
.main__description {
  color: #949494;
  font-size: 18px;
  width: 470px;
  line-height: 30px;
}
.main__form {
  display: flex;
}
.main__form .form__input {
  padding: 10px;
  width: 350px;
  border-radius: 5px;
  background-color: rgba(208, 208, 210, 0.2509803922);
  border: 0;
}
.main__form .form__button {
  width: 50px;
  background: url(../img/Search.png) #F38160 no-repeat center;
  background-size: 20px;
  border-radius: 5px;
  border: 0;
}
.main__grid {
  display: grid;
  grid-template-columns: 20% 20%;
  margin-top: 20px;
  color: #949494;
}
.main__grid .grid__item {
  padding-left: 20px;
  background: url(../img/Check.jpg) no-repeat left center;
  background-size: 15px;
}
.main .product-section {
  display: flex;
  margin-top: 40px;
  margin-top: 89px;
  margin-bottom: 30px;
  align-items: center;
  gap: 20px;
}
.main .product-section .product {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}
.main .product-section .product__name {
  font-size: 18px;
  font-weight: 500;
  color: #403C39;
}
.main .product-section .product__description {
  font-size: 14px;
  color: #949494;
}/*# sourceMappingURL=style.css.map */