.container {
  padding-left: 92px;
  padding-right: 156px;
  padding-top: 27px;
  padding-bottom: 30px;
  background:url(../../img/ellipse2.svg) no-repeat bottom -77% right, url(../../img/ellipse2.svg) no-repeat bottom -321% right -27% $color_black;
  font-family: $font_poppins;
}
