.container {
  padding-left: 56px;
  padding-right: 56px;
  padding-top: 26px;
  font-family: $font_quattrocento;
  background: url(../../img/ornament.svg) no-repeat $color_white;
  color:$color_black;
  padding-bottom: 20px;
  max-width: 1440px;
}
