.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    &__logo{
        margin-right: 80px;
    }
    .navigation{
        &__list{
            display: flex;
            gap:40px;
            list-style: none;
            position: relative;
            &::before{
                content: "";
                width: 32px;
                height: 3px;
                background-color: $color_lightbrowm;
                position: absolute;
                bottom: -8px;
            }
        }
        &__link{
            text-decoration: none;
            color: $color_black;
            font-size: 18px;
        }
    }
    .social-icons{
        display: flex;
        gap:40px;
        list-style: none;
    }
}